*{
    margin: 0;
}

nav{
    height: 80px;
    width: 100%;
    background-color: blue;
    color: white;

}
html{
    background-color: red;
}
a{
    color: white;
    text-decoration: none;
    transition: .5s;
    margin: 0 auto;
    line-height: 60px;


}

a:hover{
    text-decoration: underline;
}
img{
    height: 80px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;

}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}
h9{
    /*margin-bottom: 8px;*/
    /*margin-top: 8px;*/
     /*text-align: center;*/
    /*font-size: 25px;*/

}
#welcome{
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: center;
    font-size: 25px;
    outline: tan;
    background-color: green;
    color: #790573;

}
#soup{
    background-color: rebeccapurple;
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 20px;
    color: tan;


}